
.plugin-gridster.cubecanal .front {
  background: #FFFFFF url('images/cube.jpg') center 10px;
  background-size:   150px 150px;
  background-repeat: no-repeat;
}

.plugin-gridster.cubecanal .back {
  background: #FFFFFF;
}